.storages-panel {

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul {
        margin-bottom: 0;
    }

    .rs-navbar-item {
        padding: 10px 6px 6px;
        height: 36px;
    }

    .rs-tree-indent-line {
        border-left: 1px dashed var(--rs-gray-500);
    }

    .rs-tree {
        height: calc(100vh - 100px) !important;
        max-height: calc(100vh - 100px) !important;
    }
}